body {
  background-color: #4f0015;
  color: white;
}

h1 {
  font-family: 'Tangerine', cursive;
  text-align: center;
  font-size: 120px;
}

h2 {
  margin-top:-10px;
  font-family: 'Tangerine', cursive;
  border-bottom: 1px solid #4f0015;
  font-weight:bold;
  font-size:40px;
}

.add-button {
  font-weight: bold;
  color: #4f0015;
  margin-bottom:20px;
  border-radius: 25px;
}

.rel-button {
  font-weight: bold;
  color: #4f0015;
  margin-bottom:20px;
  border-radius: 25px;
}

.charbox {
  text-align: center;
  padding: 20px;
  background-color: white;
  color: #4f0015;
  border-radius: 25px;
  margin-bottom: 36px;
  display: inline-block;
  width: 241px;
  height: 208px;
  margin-right: 33px;
}

.relbox {
  /*width:40%;*/
  text-align: center;
  padding: 5px;
  padding-bottom:0px;
  background-color: white;
  color: #4f0015;
  border:1px solid #4f0015;
  border-radius: 25px;
  /*margin:auto;
  margin-bottom:20px;*/
  display: inline-block;
  width: 71px;
  height: 31px;
  margin-right: 204px;
  margin-bottom: 208px;
}

#relationships {
  width: 831px;
  margin-left: 205px;
  position: absolute;
  z-index:10;
  margin-top: 104px;
}

#characters {

}
