body {
  background-color: #4f0015;
  color: white;
}

h1 {
  font-family: 'Tangerine', cursive;
  text-align: center;
  font-size: 120px;
}

h2 {
  margin-top:-10px;
  font-family: 'Tangerine', cursive;
  border-bottom: 1px solid #4f0015;
  font-weight:bold;
  font-size:40px;
}

.container {
  width: 909px;
}

.add-button {
  font-weight: bold;
  color: #4f0015;
  margin-bottom:20px;
  border-radius: 25px;
}

.rel-button {
  font-weight: bold;
  color: #4f0015;
  margin-bottom:20px;
  border-radius: 25px;
}

.charbox {
  text-align: center;
  padding: 20px;
  background-color: white;
  color: #4f0015;
  border-radius: 25px;
  margin-bottom: 36px;
  display: inline-block;
  width: 270px;
  height: 302px;
  margin-right: 33px;
}

.relbox {
  text-align: center;

  padding: 5px;
  padding-bottom:0px;
  background-color: white;
  color: #4f0015;
  border:1px solid #4f0015;
  border-radius: 25px;
  display: inline-block;
  width: 71px;
  height: 31px;
  margin-right: 235px;
  margin-bottom: 306px;
}

#button-box {
  text-align: center;
}

#buttons {
  display: inline-block;
}

#relationships {
  width: 198px;
  margin-left: 234px;
  position: absolute;
  z-index:10;
}

#relationships-output {
  padding:10px;
  display:none;
  background-color: white;
  color: #4f0015;
  padding: 5px;
  border-radius: 25px;
}

#characters {

}
